<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Paniers</title>
  <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
  <link th:href="@{/css/main.css}" href="../../static/css/main.css" rel="stylesheet">
  <script th:src="@{/js/jquery-3.6.0.min.js}" src="../../static/js/jquery-3.6.0.min.js"></script>
  <script th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="antigaspi-background"></div>

<div class="header" th:insert="fragments/header :: header"></div>
<div class="container bg-light card rounded-3 py-1 px-4">
  <h1 class="display-3" th:text="${shop.name}">Commerce</h1>
  <h2 class="mb-3" th:text="${shop.category.libelle}">Fast-food</h2>
  <h4>Leurs paniers :</h4>

  <div class="d-flex flex-column align-items-start justify-content-start mt-4">
    <div th:each="cart : ${carts}">
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title" th:text="${cart.libelle}">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted" th:text="${cart.price} + '€'">price</h6>
          <h6 class="card-subtitle mb-2 text-muted" th:text="'Chez ' + ${cart.shop.name} + ', ' + ${cart.shop.category.libelle}">author</h6>
          <p class="card-text" th:text="${cart.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a th:href="@{/carts/book/{id}(id=${cart.id})}" class="card-link">Réserver</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>