<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/css/main.css">
  <script src="../../static/js/jquery-3.6.0.min.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
</head>
<body>
  <nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand">
      <img class="mr-1" src="../../static/images/logo.png" th:src="@{/images/logo.png}" width="32" height="32">
      <strong>AntiGaspi</strong>
    </span>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto d-flex align-items-baseline">
        <li class="nav-item">
          <a class="nav-link" href="/carts">Paniers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shops">Commerces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Concept</a>
        </li>
      </ul>
      <form class="form-inline">
        <input type="search" class="form-control rounded-pill big-search-bar" placeholder="Rechercher..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 d-none" type="submit">
          Search
        </button>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span sec:authentication="principal.username"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right float-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item px-2" href="/account">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
              </svg>
              Mon compte
            </a>
            <a class="dropdown-item px-2" href="/account/orders">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
              Mes commandes
            </a>
            <a class="dropdown-item px-2" href="/logout">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
              </svg>
              Se déconnecter
            </a>

            <div sec:authorize="hasRole('SELLER')">
              <hr class="m-2">

              <a class="dropdown-item px-2" href="/pro">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                </svg>
                Mon espace
              </a>
            </div>

            <div sec:authorize="hasRole('ADMIN')">
              <hr class="m-2">

              <a class="dropdown-item px-2" href="/admin">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                </svg>
                Mon espace
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</body>
</html>