html, body{
    min-height:100%;
}

body {
    height: 100vh;
    background-color: #f3ffef;
}

.antigaspi-background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -10;
    display: block;
    background: url(../images/anti-gaspi-background.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.navbar {
    margin-bottom: 150px;
}

.big-search-bar {
    width: 420px !important;
}

.form-control {
    border-color: rgba(40, 167, 69, 0.25);
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}