html, body{
    min-height:100%;
}

body {
    height: 100vh;
    background-color: #f3ffef;
}

.antigaspi-background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -10;
    display: block;
    background: url(../images/anti-gaspi-background.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.big-search-bar {
    width: 420px !important;
}