<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Accueil</title>
  <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
  <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js" rel="script"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js" rel="script"></script>
</body>
</html>