<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Connexion</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="antigaspi-background"></div>

<div class="navbar" th:insert="fragments/header_simple.html :: header"></div>

<div class="d-flex align-items-center justify-content-center absolutely-centered">
  <form class="card p-4 pb-2 shadow-sm border-dark border-3 rounded-3 bg-light" method="post" th:action="@{/login}">
    <h2 class="mb-3">Connexion</h2>

    <div th:if="${param.error}" class="alert alert-danger">
      Email ou mot de passe incorrect.
    </div>

    <div class="alert alert-success" th:if="${param.logout}">
      Vous avez été déconnecté.
    </div>

    <div class="d-flex flex-column align-items-stretch">
      <input name="username" type="text" class="form-control mb-2" placeholder="Email"
             autofocus="autofocus"/>

      <input name="password" type="password" class="form-control mb-4" placeholder="Mot de passe"/>

      <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">Se connecter</button>

      <p>Vous n'êtes pas enregistré(e) ? <a href="/sign-in/user">Créer un compte</a></p>
    </div>
  </form>
</div>
</body>
</html>
